New RSS Article to telegram/New RSS articles to Telegram.json
{
  "name": "New RSS articles to Telegram",
  "nodes": [
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -304,
        16
      ],
      "id": "48982da5-226f-400e-9642-41c14f4532d9",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "1159259571",
        "text": "=📰 *New Article*\n\n*{{ $json.title }}*\n\n{{ $json.contentSnippet ? $json.contentSnippet.slice(0, 200) + '...' : '' }}\n\n🔗 [Read more]({{ $json.link }})\n\n📅 {{ $json.pubDate ? new Date($json.pubDate).toLocaleDateString('en-GB', {weekday:'short', day:'2-digit', month:'short', year:'numeric'}) : '' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        16
      ],
      "id": "eb10d282-ff47-42be-a505-17560ebc5451",
      "name": "Send a text message",
      "webhookId": "9763d8d7-54b4-48e3-9668-3df22779a7ce",
      "credentials": {
        "telegramApi": {
          "id": "yaciOEN1Ay9ipTNT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📡 New RSS Articles to Telegram\n\nMonitors an RSS feed every 30 minutes.\nWhen new articles are found, sends the latest ones to a Telegram chat.\n\n**Flow:** RSS Feed Trigger → Limit → Send a text message\n\n**To customize:**\n- Change the feed URL in the RSS Feed Trigger node\n- Change the max articles per run in the Limit node\n- Change the Chat ID in the Telegram node",
        "height": 432,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -272
      ],
      "id": "bab38b38-5f14-481b-a769-6fe2d24b7ce1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://openai.com/news/rss.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        16
      ],
      "id": "fe396843-c6b3-4843-90e3-539d56b2d453",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "content": "## 📡 RSS Feed Trigger\n\n**What it does:**\nPolls the RSS feed every 30 minutes and fires only for articles it hasn't seen before (automatic deduplication).\n\n**Currently watching:**\n`openai.com/news/rss.xml`\n\n**To change the source:**\nReplace the Feed URL with any valid RSS/Atom feed URL.",
        "height": 256,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -448
      ],
      "id": "e2ddbe8d-902d-4e29-b7b8-678e99991818",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🔢 Limit\n\n**What it does:**\nCaps the number of articles sent per trigger run to avoid flooding the Telegram chat.\n\n**Currently set to:** 5 articles max per run.\n\n**Tip:** Lower this to 1–2 if the feed publishes many articles at once.",
        "height": 236,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -160
      ],
      "id": "65ffb56c-5866-4e9a-a815-f7b64fa02e05",
      "name": "Sticky Note — Limit"
    },
    {
      "parameters": {
        "content": "## ✈️ Send a text message\n\n**What it does:**\nFormats each article as a Markdown message and sends it to a Telegram chat via bot.\n\n**Message includes:**\n- Article title (bold)\n- 200-char content preview\n- Clickable \"Read more\" link\n- Publication date\n\n**Parse Mode must be set to Markdown** for formatting to render correctly.",
        "height": 332,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        128
      ],
      "id": "b1927dee-be04-4767-b150-74bdc5fc8818",
      "name": "Sticky Note — Telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e55f1983-b2bf-4db2-9b01-7b2967d1fbae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6ee8f8ba1a04841ce70beffae244a5515981f259d0f97489503c57f9e515dfb"
  },
  "id": "lCuYwJm41j1_a9HuheHgr",
  "tags": []
}